<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/surbhi/IdeaProjects/TestFramework/src/test/java/api/test/UserTests.java">
        <classes>
           <!-- <class name="api.test.UserTests">-->
            <class name="api.test.UserTests2">
            </class>
        </classes>
    </test>
</suite>