<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
            <Properties>
                <Property name="basepath">./logs</Property>
            </Properties>
    <Appenders>
        <Console name="CONSOLE">
            <PatternLayout pattern="%p - %m%n"/>
        </Console>
        <File name="MAIN" fileName="logs/main.log">
            <JsonTemplateLayout/>
        </File>
        <File name="DEBUG_LOG" fileName="logs/debug.log">
            <PatternLayout pattern="%d [%t] %p %c - %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="CONSOLE" level="WARN"/>
            <AppenderRef ref="MAIN"/>
        </Root>
    </Loggers>
</Configuration>